### PyDataset - Access Datasets from Python

`pip install pydataset`

In [ ]:
!pip install pydataset -q

#### 1. Start with import `data`

In [1]:
from pydataset import data

#### 2. Load Titanic Data

In [2]:
titanic = data('titanic')

#### 3. Display data

In [3]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

Follow me @itsafiz for more content.